@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

h4 {
    margin-bottom: 0;
}

h3 {
    margin: 0 0 10px 0;
    color: white;
}

p {

}
 
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16pt;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(122, 118, 204, 0.1)
}

.message-screen {
    height: 600px;
    width: 300px;
    display: grid;
    grid-template-rows: 60px 1fr 70px;
    align-self: center;
    justify-self: center;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 4px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #7a76cc;
}



.messages {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    overflow-y: scroll;
}

.message-name {
    margin: 20px 0 0 0;
    padding: 0 10px;
    font-size: 0.6em;
    color: #7a76cc;
}

.message-content {
    margin: 5px 0;
    padding: 10px;
    font-size: 0.8em;
    background: #7a76cc;
    color: white;
    border-radius: 20px;
}

.form {
    background: rgba(122, 118, 204, 0.4);
    align-self: flex-end;
    display: grid;
}

input, textarea {
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
}

.name {
    border-bottom: 1px solid #7a76cc;
}

.message-send {
    display: grid;
    grid-template-columns: 1fr 110px;
}

.send-button {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 34px 0 0 34px;
    background: #7a76cc;
    color: white;
    transition: all 0.2s ease-in-out;
    justify-self: flex-end
}
.send-button:hover {
    width: 110px;
    background: #444375
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7a76cc
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #7a76cc
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #7a76cc;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #7a76cc
  }